<template>
  <div id="parameterAccount">
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-text-field v-model="account.pseudo" :rules="nameRules" label="Pseudo" required />
      <v-text-field v-model="account.firstname" :rules="nameRules" label="Firstname" required />
      <v-text-field v-model="account.lastname" :rules="nameRules" label="Last name" required />
      <v-text-field v-model="account.email" :rules="emailRules" label="Email" required />
      <v-text-field v-model="account.oldpassword" :rules="passwordRules" label="Old password" />
      <v-text-field v-model="account.newpassword" :rules="passwordRules" label="New password" />
      <v-text-field v-model="account.verifpassword" :rules="passwordRules" label="Re-type password" />
      <v-checkbox v-model="checkbox" :rules="[v => !!v || 'You must agree to continue!']" label="Do you agree?" required />
      <v-btn
        :disabled="!valid"
        @click="submit"
      >
        submit
      </v-btn>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </div>
</template>

<script>

export default {
  data: () => ({
    valid: true,
    checkbox: false,
    account: {
      firstname: '',
      lastname: '',
      pseudo: '',
      email: '',
      oldpassword: '',
      newpassword: '',
      verifpassword: ''
    },
    nameRules: [
      v => !!v || 'Name is required',
      v => (v && v.length <= 10) || 'Name must be less than 10 characters'
    ],
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+/.test(v) || 'E-mail must be valid'
    ],
    passwordRules: [
      v => (v && v.length >= 8 || (v.length == 0)) || 'Name must be more than 8 characters'
    ]
  }),
  mounted () {
    this.account.firstname = this.$store.getters.getFirstName
    this.account.lastname = this.$store.getters.getLastName
    this.account.pseudo = this.$store.getters.getPseudo
    this.account.email = this.$store.getters.getEmail
  },
  methods: {
    submit () {
        if (this.$refs.form.validate()) {
          this.$axios.put(process.env.baseUrl+'/api/v1/users/update/', {
            pseudo: this.account.pseudo,
            token: this.$store.getters.getToken,
            account: this.account
          }).then(response => {
            console.log(response)
          }).catch(err => {
            console.error(err)
          })
        }
      },
      clear () {
        this.$refs.form.reset()
      }
  }
}
</script>
