<template>
  <v-app dark>
    <v-navigation-drawer
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      fixed
      app
    >
      <v-list v-if="!panelAdmin">
        <v-list-tile
          v-for="(item, i) in items"
          :to="item.to"
          :key="i"
          router
          exact
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon" />
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-list v-else>
        <v-list-tile
          v-for="(item, i) in itemsAdmin"
          :to="item.to"
          :key="i"
          router
          exact
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon" />
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <!-- <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'" />
      </v-btn> -->
      <v-btn
        icon
        @click.stop="clipped = !clipped"
        class="hidden-sm-and-down"
      >
        <v-icon>web</v-icon>
      </v-btn>
      <!-- <v-btn
        icon
        @click.stop="fixed = !fixed"
      >
        <v-icon>remove</v-icon>
      </v-btn> -->
      <v-toolbar-title v-text="title" to="/"/>
      <v-spacer />
      <v-toolbar-items v-if="!this.$store.getters.getIsConnected" class="hidden-sm-and-up">
        <v-btn @click="rightDrawer = !rightDrawer">
          Connection
        </v-btn>
      </v-toolbar-items>
      <v-toolbar-items v-if="!this.$store.getters.getIsConnected" class="hidden-sm-and-down">
        <v-btn flat to="/app/connection/connection">Connection</v-btn>
        <v-btn flat to="/app/inscription/inscription">Inscription</v-btn>
      </v-toolbar-items>

      <v-toolbar-items v-else>
        <v-btn v-if="this.$store.getters.getRole === 'admin'" flat @click="panelAdmin = !panelAdmin">Administration</v-btn>

        <v-menu offset-y >
          <v-btn slot="activator" color="blue darken-2" dark>
            <v-icon large>account_circle</v-icon>
          </v-btn>

          <v-list>
            <v-list-tile v-for="(item, index) in menuUser" :key="index" :to ="item.path">
              <v-list-tile-title>
                {{ item.title }}
              </v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="disconnect()" to="/">
              <v-list-tile-title>
                <v-icon small>clear</v-icon> Disconnect
              </v-list-tile-title>
            </v-list-tile>
          </v-list>

        </v-menu>
      </v-toolbar-items>

    </v-toolbar>
    <v-navigation-drawer :right="true" temporary v-model="rightDrawer" fixed :clipped="true">
      <v-list dense>
        <v-list-tile to="/app/connection/connection">
          <v-list-tile-action>
            <v-icon light>lock_open</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            Connection
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile to="/app/inscription/inscription">
          <v-list-tile-action>
            <v-icon light>create</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            Inscription
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>

    <v-footer
      :fixed="fixed"
      app
    >
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    data() {
      return {
        clipped: false,
        drawer: false,
        fixed: false,
        items: [
          { icon: 'apps', title: 'Welcome', to: '/' },
          { icon: 'bubble_chart', title: 'Inspire', to: '/inspire' },
          { icon: 'library_books', title: 'Dernier articles', to: '/app/article/articleList' },
          { icon: 'assignment', title: 'Dernières fiches techniques', to: '/app/technicalsheet/technicalsheetList'},
          { icon: 'apps', title: 'Articles par effets', to: '/'},
          { icon: 'apps', title: 'Tous les articles', to: '/'},
          { icon: 'apps', title: 'Tout ce que vous devez savoir', to: '/'},
          { icon: 'apps', title: 'F.A.Q', to: '/'},
          { icon: 'apps', title: 'Rejoindre l\'équipe ?', to: '/'}
        ],
        itemsAdmin: [
          { icon: 'apps', title: 'Welcome', to: '/' },
          { icon: 'create', title: 'Article creation', to: '/app/article/articleCreation' },
          { icon : 'file_copy', title: 'Article edition', to: '/app/article/articleListAdmin' },
          { icon: 'apps', title: 'Technicalsheet creation', to: '/app/technicalsheet/technicalsheetCreation'},
          { icon: 'apps', title: 'Technicalsheet edition', to: '/app/technicalsheet/technicalsheetListAdmin'},
          { icon: 'apps', title: 'Information to user creation', to: '/app/infoToUser/infoToUserCreation'},
          { icon: 'apps', title: 'AllthingstoKnow edition', to: '/'}
        ],
        panelAdmin: false,
        menuUser: [{
          title: 'Parameters',
          path: '/app/accountManagement/parameterAccount'
        }],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Nooblog'
      }
    },
    mounted () {
      console.log('try')
      console.log(this.$store.getters.getIsConnected)
    },
    methods: {
      disconnect () {
        this.$store.commit('setFirstName', '')
        this.$store.commit('setLastName', '')
        this.$store.commit('setPseudo', '')
        this.$store.commit('setEmail', '')
        this.$store.commit('setToken', '')
        this.$store.commit('setRole', '')
        this.$store.commit('setIsConnected', false)
        sessionStorage.clear()
      },
      connect () {
        console.log('testing')
        alert('connect')
      }
    }
  }
</script>
