<template>
  <div id="articleModification">
    <h2 class="display-3">
      Create an article
    </h2>
    <div v-if="!preview">
      <v-form ref="form" lazy-validation >
        <v-text-field id="title" v-model="title" :rules="titleRules" label="Title of this article" required />
        <v-text-field id="tag" v-model="tag" :rules="tagRules" label="Enter tags here, you must separate tags by a space like this : ' '" required />
        <wysiwyg id="myEditor" v-model="myHTML" style="color:black"/>
      </v-form>

      <div class="text-xs-center">
        <v-layout row justify-center>
          <v-btn color="success" @click="showPreview()">
            show
            <v-icon color="white" right >check_circle_outline</v-icon>
          </v-btn>
          <v-dialog v-model="dialog" persistent max-width="290">
            <v-btn slot="activator" color="error" dark>Delete <v-icon color="white">clear</v-icon></v-btn>
            <v-card>
              <v-card-title class="headline">Would you delete this article?</v-card-title>
              <v-card-text>Warning. You'll delete this article, we can't undo this action.</v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="green darken-1" flat @click="dialog = false">Cancel</v-btn>
                <v-btn color="green darken-1" flat @click="dialog = false, resetForm()">Delete</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-layout>
      </div>

    </div>
    <ArticlePreview :article="myHTML" :title="title" :tag="tag" :id="myId" v-else />
  </div>
</template>

<script>
import wysiwyg from 'vue-wysiwyg'
import 'vue-wysiwyg/dist/vueWysiwyg.css'
import Vue from 'vue'
import ArticlePreview from './articlePreview'
Vue.use(wysiwyg, {});
export default {
  components: {
    ArticlePreview
  },
  props: {
    'article': {
      type: Object,
      required: true
    },
    'isExist': {
      type: Boolean,
      required: true
    }
  },
  data: () => ({
    preview: false,
    title: '',
    tag: '',
    myHTML: '',
    dialog: false,
    titleRules: [
      v => !!v || 'Name is required'
    ],
    tagRules: [
      v => !!v || 'Name is required'
    ],
    myId: ''
  }),
  mounted () {
    let tagString = this.article.tag.toString()
    tagString = tagString.replace(new RegExp(',', 'g'), ' ') // convert the array into string and replace all ',' by a space
    this.title = this.article.title
    this.myHTML = this.article.article
    this.tag = tagString,
    this.myId = this.article._id
  },
  methods: {
    saveArticle () {
      if (this.preview === false) {
        // TODO : check if we can split or not (bug when you check the preview and come back, the next preview is bad because the split)
        this.tag = this.tag.split(' ')
        this.preview = true
      } else {
        this.preview = false
      }
    },
    showPreview () {
      if(this.$refs.form  !== 'undefined'){
        if (this.$refs.form.validate()) {
          this.article = document.getElementById('myEditor').childNodes[1].innerHTML
          this.title = document.getElementById('title').value
          this.tag = document.getElementById('tag').value
          console.log(document.getElementById('title').innerHTML)
          this.tag = this.tag.split(' ')
          console.log(this.tag)
          this.preview = true
        } else {
          console.log('niet')
        }

      }
    },
    resetForm () {
      this.title = ''
      this.tag = ''
      this.myHTML = ''
    }
  }
}
</script>
