<template>
  <div id="articleListAdmin">
    <v-container grid-list-md v-if="!this.modification">
      <v-layout row wrap>
        <v-flex xs12 v-for="article in articleList" :key="article._id">
          <div class="cardArticle">
            <ArticleCard :article="article" :is-admin="true" />
          </div>

        </v-flex>

      </v-layout>
    </v-container>
    <v-container grid-list-md v-else>
      <v-layout row wrap>
        <v-flex xs12>
          <ArticleModification :article="this.article" :is-exist="true" />
          <v-btn @click="returnToList()">Retour à la liste des articles</v-btn>
          <br>

        </v-flex>
      </v-layout>
    </v-container>

  </div>
</template>

<script>
import ArticleCard from './articleCard'
import ArticleModification from './articleModification'
export default {
  components: {
    ArticleCard,
    ArticleModification
  },
  data: () => ({
    articleList: [],
    article: '',
    modification: false
  }),
  mounted () {
    this.$axios.post(process.env.baseUrl+'/api/v1/article/alladmin', {
      pseudo: this.$store.getters.getPseudo,
      token: this.$store.getters.getToken
    }).then(response => {
      response.data.forEach(e => {
        this.articleList.push(e)
      })
    }).catch(err => {
      console.error(err)
    })
  },
  methods: {
    showArticle (article) {
      this.article = article
      this.modification = true
    },
    returnToList () {
      this.modification = false
      this.article = ''
    },
    deleteArticle () {
      console.log(this.$store.getters.getPseudo)
      console.log(this.$store.getters.getToken)
      console.log(this.article._id)
      this.$axios.post(process.env.baseUrl+'/api/v1/article/delete', {
        pseudo: this.$store.getters.getPseudo,
        token: this.$store.getters.getToken,
        id: this.article._id
      })
      let i = 0
      this.articleList.forEach(item => {
        if (this.article._id === item._id) {
          this.articleList.splice(i, 1)
        }
        i++
      })
      this.modification = false
    }
  }
}
</script>
