<template>
  <div id="connection">
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-text-field
        v-model="pseudo"
        label="Pseudo"
        required
      />
      <v-text-field
        v-model="password"
        label="Password"
        required
      />

      <v-btn
        :disabled="!valid"
        @click="submit"
      >
        Connect
      </v-btn>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </div>
</template>
<script>
export default {
  name: 'Connection',
  data: () => ({
    valid: true,
    pseudo: '',
    password: ''
}),

methods: {
  submit () {
    if (this.$refs.form.validate()) {
      this.$axios.post(process.env.baseUrl+'/api/v1/users/connection', {
          pseudo: this.pseudo,
          password: this.password
        }).then(response => {
          if (response.data) {
            sessionStorage.first_name = response.data.first_name
            sessionStorage.last_name = response.data.last_name
            sessionStorage.pseudo = response.data.pseudo
            sessionStorage.email = response.data.email
            sessionStorage.token = response.data.token
            sessionStorage.role = response.data.role
            sessionStorage.isConnected = true
            this.$store.commit('setFirstName', response.data.first_name)
            this.$store.commit('setLastName', response.data.last_name)
            this.$store.commit('setPseudo', response.data.pseudo)
            this.$store.commit('setEmail', response.data.email)
            this.$store.commit('setToken', response.data.token)
            this.$store.commit('setRole', response.data.role)
            this.$store.commit('setIsConnected', true)
            this.$router.push('/')
            console.log('the user is now connected')
          } else {
            console.log('bad login or password')
          }
        }).catch(error => {
          console.error(error)
        })
    }
  },
  clear () {
    this.$refs.form.reset()
  }
}
}
</script>
