<template>
  <div id="technicalsheetEffectCard">
    <v-container grid-list-md>
      <v-layout row wrap>
        <v-flex xs12 md6 lg4>
          <v-card>
            <v-card-title>
              Effets Physique
            </v-card-title>
            <v-list>
              <v-list-group v-for="(item, index) in effects.physic.name " :key="item">
                <v-list-tile slot="activator">
                  <v-list-tile-content>
                    <v-list-tile-title>
                      {{ effects.physic.name[index] }}
                    </v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    {{ effects.physic.describe[index] }}
                  </v-list-tile-content>
                </v-list-tile>
              </v-list-group>
            </v-list>
          </v-card>
        </v-flex>
        <v-flex xs12 md6 lg4>
          <v-card>
            <v-card-title>
              Effets Cognitif
            </v-card-title>
            <v-list>
              <v-list-group v-for="(item, index) in effects.cognitif.name " :key="item">
                <v-list-tile slot="activator">
                  <v-list-tile-content>
                    <v-list-tile-title>
                      {{ effects.cognitif.name[index] }}
                    </v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    {{ effects.cognitif.describe[index] }}
                  </v-list-tile-content>
                </v-list-tile>
              </v-list-group>
            </v-list>
          </v-card>
        </v-flex>
        <v-flex xs12 md6 lg4>
          <v-card>
            <v-card-title>
              Effets Indésirable
            </v-card-title>
            <v-list>
              <v-list-group v-for="(item, index) in effects.indesirable.name " :key="item">
                <v-list-tile slot="activator">
                  <v-list-tile-content>
                    <v-list-tile-title>
                      {{ effects.indesirable.name[index] }}
                    </v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    {{ effects.indesirable.describe[index] }}
                  </v-list-tile-content>
                </v-list-tile>
              </v-list-group>
            </v-list>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  props: {
    effects: {
      type: Object,
      required: true
    }
  },
  data: () => ({

  })
}
</script>
