<template>
  <div id="technicalsheet">
    <v-container grid-list-md>
      <v-layout row wrap>
        <v-flex xs12>
          <h2>
            Fiche technique : {{ technicalsheet.name }}
          </h2>
        </v-flex>

        <v-flex xs12>
          <v-card>
            <v-card-title primary-title>
              Pharmacologie
            </v-card-title>
            <v-card-text>
              {{ technicalsheet.pharmacologie }}
            </v-card-text>
          </v-card>
        </v-flex>

        <v-flex xs12>
          <v-card>
            <v-card-title>
              Chimie
            </v-card-title>
            <v-card-text>
              {{ technicalsheet.chimie }}
            </v-card-text>
          </v-card>
        </v-flex>

        <v-flex xs12>
          <technicalsheet-effect-card :effects="this.technicalsheet.effects" />
        </v-flex>

        <v-flex xs12>
          <v-card>
            <v-card-title>
              Toxicité
            </v-card-title>
            <v-card-text>
              {{ technicalsheet.toxicity }}
            </v-card-text>
          </v-card>
        </v-flex>

        <v-flex xs12>
          <v-list dense>
            <v-list-tile>
              <h3>
                Références
              </h3>
            </v-list-tile>
            <v-list-tile v-for="item in technicalsheet.references.urlTab" :key="item">
              <v-list-tile-content>
                {{ item }}
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-flex>

        <v-flex xs12>
          <p class="text-xs-right grey--text">
            Fiche technique postée le {{ this.date.day }} {{ this.date.month }} {{ this.date.year }}
          </p>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import TechnicalsheetEffectCard from './technicalsheetEffectCard'
export default {
  components: {
    TechnicalsheetEffectCard
  },
  props: {
    technicalsheet: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    date: {
      day: '',
      month: '',
      year: ''
    }
  }),
  mounted () {
    console.log('hi here')
    console.log(this.technicalsheet)
    this.date.day = this.technicalsheet.date.slice(8, 10)
    this.date.year = this.technicalsheet.date.slice(0, 4)
    switch (this.technicalsheet.date.slice(5, 7)) {
      case '01':
        this.date.month = 'Janvier'
        break
      case '02':
        this.date.month = 'Février'
        break
      case '03':
        this.date.month = 'Mars'
        break
      case '04':
        this.date.month = 'Avril'
        break
      case '05':
        this.date.month = 'Mai'
        break
      case '06':
        this.date.month = 'Juin'
        break
      case '07':
        this.date.month = 'Juillet'
        break
      case '08':
        this.date.month = 'Août'
        break
      case '09':
        this.date.month = 'Septembre'
        break
      case '10':
        this.date.month = 'Octobre'
        break
      case '11':
        this.date.month = 'Novembre'
        break
      case '12':
        this.date.month = 'Décembre'
        break
      default:
        this.date.month = 'undefined'
    }
  }
}
</script>
